@model WhatsForDinnerMVC.Models.User
@{
    ViewBag.Title = "Menu List";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <title>What's For Dinner Menu List</title>
</head>
<body id="menu-list">
    <div class="container">
        <nav class="navbar-brand">What's For Dinner?</nav>
    </div>
    <div>
        @if (!String.IsNullOrWhiteSpace(Model.Name))
            {
            <h1>
                @("Hello, " + Model.Name + "!")
            </h1>
        }
    </div>

    <div class="container" style="max-width: 80%">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <h2>Menus</h2>
                </div>
                <div class="table-container">
                    <div class="table-responsive">
                        <table class="table" id="menu-table">
                            <thead>
                                <tr>
                                    <th>Menu Name</th>

                                    <th># Recipes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    @if (Model.Menus.Count > 0)
                                {
                                    foreach (WhatsForDinnerMVC.Models.Menu menu in Model.Menus)
                                    {
                                        <tr>
                                            <td id="@menu.MenuID">@menu.MenuName</td>

                                            <td>@menu.Recipes.Count;</td>
                                        </tr>
                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                <div class="view">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <form class="navbar-form navbar-left" action="@Url.Action("NewMenuName")" method="POST">
                                <div class="form-group">
                                    <input type="text" name="newMenuName" class="form-control" placeholder="Add a new Menu">
                                </div>
                                <button type="submit" class="btn btn-default">New Menu!</button>
                            </form>
                        </div><!-- /.navbar-collapse -->
                    </nav>
                </div>

                </div>

                <div class="col-md-8">
                    <div>
                        <h2>Recipes on Selected Menu</h2>
                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Calories</th>
                                    <th>Fat</th>
                                    <th>Protein</th>
                                    <th>Sodium</th>
                                    <th>Rating</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    @if (Model.SelectedMenu != null)
                                    {
                                        foreach (WhatsForDinnerMVC.Models.Recipe recipe in Model.SelectedMenu.Recipes)
                                        {
                                        <tr>
                                            <td>@recipe.Title</td>
                                            <td>@recipe.Description</td>
                                            <td>@recipe.Calories;</td>
                                            <td>@recipe.Fat</td>
                                            <td>@recipe.Protein</td>
                                            <td>@recipe.Sodium</td>
                                            <td>@recipe.Rating</td>
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    @if (Model.SelectedMenu != null)
                    {
                        <form id="editRecipeForm" class="form-signin" action="@Url.Action("EditRecipe")" method="POST">
                            <button class="btn btn-lg btn-primary btn-block" id="editRecipeBtn" type="submit">Edit Recipes on Menu</button>
                        </form>

                        <form id="viewShoppingList" class="form-signin" action="@Url.Action("ViewShoppingList")" method="post">
                            <button class="btn btn-lg btn-primary btn-block" id="viewShoppingListBtn" type="submit">View Shopping List</button>
                        </form>
                    }
        </div>
   </div>
        <p>@Html.ActionLink("Log me out!", "LogOut")</p>
  </div>
    <style>

    </style>

    <script>
        function highlight_row() {
            var table = document.getElementById('menu-table');
            var cells = table.getElementsByTagName('td');
            for (var i = 0; i < cells.length; i++) {
                // Take each cell
                var cell = cells[i];
                // do something on onclick event for cell
                cell.onclick = function () {
                    // Get the row id where the cell exists
                    var rowId = this.parentNode.rowIndex;

                    var rowsNotSelected = table.getElementsByTagName('tr');
                    for (var row = 0; row < rowsNotSelected.length; row++) {
                        rowsNotSelected[row].style.backgroundColor = "";
                    }
                    var rowSelected = table.getElementsByTagName('tr')[rowId];
                    var menuIDSelected = rowSelected.cells[0].id;
                    rowSelected.style.backgroundColor = "#F5F5F5";

                    msg = 'The menu ID is: ' + menuIDSelected;
                    //msg = 'The menu ID is: ' + rowSelected.cells[0].innerHTML;
                    //alert(msg);
                    $.ajax({
                        type: "POST",
                        url: '/MenuList/SelectionChanged/' + menuIDSelected,
                        success: successFunc,
                        error: errorFunc
                    });
                    // Need to force a reresh of the page since ajax ignores an ActionResult return.
                    function successFunc() {
                        window.location.href='/MenuList/Index/' ;
                    }

                    function errorFunc() {
                        //alert('error');
                    }

                }
            }



        } //end of function

        window.onload = highlight_row;

    </script>


</body>
</html>
