@model WhatsForDinnerMVC.Models.SearchTester
@{
    ViewBag.Title = "Search";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <title>What's For Dinner Search</title>
</head>
<body>
    <div> 
        <h1>@ViewBag.Message</h1>
    </div>

    <div class="container">
        <div class="col-md-12 column ui-sortable">
            <div class="view">
                    <nav class="navbar navbar-default" role="navigation">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                        </div><!-- /.navbar-collapse -->
                    </nav>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>UserID</th>
                            <th>Name</th>
                            <th>Password</th>
                            <th>MenuID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @foreach (WhatsForDinnerMVC.Models.User user in Model.Users)
                            {
                                <tr>
                                    <td>@user.UserID</td>
                                    <td>@user.Name</td>
                                    <td>@user.Password</td>
                                    <td>@user.MenuID</td>
                                </tr>
                            }
                    </tbody>
                </table>
            </div>

            <div class="box box-element">
                <div class="view">
                    <div class="jumbotron" contenteditable="true">
                        <h2>Hello, world!</h2>
                        <p>Some additnioal text that goes under the hello world.</p>
                    </div>
                </div>
            </div>
        </div>
   </div>
</body>
</html>
