@model WhatsForDinnerMVC.Models.ShoppingList

@{
    ViewBag.Title = "ShoppingList";
    Layout = null; //TODO what is layout for?
}

<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</head>

<body class="shopping-list" >
    <div class="shoppingList-form">
        <div class="container">
            <nav class="navbar-brand">What's For Dinner?</nav>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="shoppingList-form">
            <hr />
            <h3 class="shoppingList-header">Shopping List</h3>
            <table class="shoppingList-table">

                @foreach (string ingredient in Model)
                {
                    <tr class="shoppingList-row">
                        <td class="shoppingList-data">- @ingredient</td>
                    </tr>
}
            </table>
            <div>
                <p>@Html.ActionLink("Back to List", "Index", "MenuList")</p>
            </div>
        </div>
    }



@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</body>